/* header */

.headerBar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
    margin-left: 80px;
    flex-wrap: wrap;
    height: 100%;
    background-color: #354B61;
    font-size: 15px;
    text-decoration: none;
    
}

/* IMPORTANT */
/* removes bullet from head of ALL lists */
li {
    list-style-type: none;
}

/* base properties on all links */
a {
    color: white;
    position: relative;
    text-decoration: none;
    margin-right: 7px;
    margin-left: 7px;
  }

/* properties applied to all links before animations */
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4BAFE0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* link on animation */
a:hover:before {
    color: #4BAFE0;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* mouse over link */
a:hover {
  color: #4BAFE0;
  font-size: 120%;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transition: all 0.3s ease-in-out 0s;
  margin-right: 0px;
  margin-left: 0px;
}
/* nav bar formatting */
.nav{
    background-color: #354B61;
    height: 60px;
}

/* master formatting */
.body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 1.8cm;
    background-size: 99%;
}
.body footer {
    text-align: center;
}


/* mobile menu stuff, ignore for now */

/* mobile menu stuff
label {
    cursor: pointer;
}
#menu-toggle {
    display: none; /* hide the checkbox */
/* } 
#menu {
    display: none;
}
#menu-toggle:checked + #menu {
    display: block;
    background: #354B61;
} */


/* extra stuff that fulfills basically no purpose but too bad */

.strong{
    font-weight: 700;
}